<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/stylesheets/login.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>登录</title>
</head>
<body>
<div class="logo">
</div>

<form class="login_part" >
    <h2><code><b>登录</b></code></h2>
    <div class="login_type"><a class="login_type_a">邮箱登录</a></div>
    <div class="input">
        <input class="username_input" id="email_input" name="username" id="userName" placeholder="邮箱" type="text"/>
        <div class="email_prompt"></div>
        <div class="password">
            <input class="password_input" name="password" id="password" placeholder="密码" type="password"/>
            <a class="forget_password" href=" ">忘记密码？</a>
        </div>
        <div class="password_prompt"></div>
        <div class="auth_prompt" ></div>
        <div class="cap_box" ></div>
        <div class="login_button" >
            <a id="subButton" >登录</a>
        </div>


    </div>

    <div class="login_info" style="margin-top: 8px;">
        登录即代表同意
        <a href="" id="service_agreement_link" style="padding: 0px 5px;" target="_blank">服务协议</a>
        <a href="" id="" style="padding: 0px 5px;" target="_blank">隐私政策</a>
    </div>
</form>

</body>
<script type="text/javascript" src="../static/javascripts/jquery-1.11.0.min.js" ></script>
<script src="../static/javascripts/login.js">


</script>

</html>